<!-- Menu Bar -->
<nav class="flex flex-row justify-between bg-gray-800 w-screen">
    <!-- Logo -->
    <img class="p-5" src="https://media.discordapp.net/attachments/549961760484884490/896051443738480661/20211008_220926.jpg?width=512&height=683" alt="" width="102" height="100">
    <!-- Menu -->
    <div class="p-5">
        <button class="text-green-300 border-b-2 border-green-300  text-lg font-sans px-4 duration-300" routerLink="/landingPage">Home</button>
        <button class="text-white text-lg  font-sans px-4 hover:text-green-400 duration-300 active:bg-violet-600 focus:outline-none focus:ring focus:ring-violet-300" routerLink="/products">Products</button>
        <button class="text-white text-lg  font-sans px-4 hover:text-green-400 hover:border-b-2 hover:border-green-300 duration-300 focus:outline-none focus-visible:ring" routerLink="/aboutUs">About Us</button>
        <button class="text-white text-lg  font-sans px-4 hover:text-green-400 duration-300" routerLink="/termsAndCondition">Terms and Condition</button>
        <button class="text-white text-lg  font-sans px-4 hover:text-green-400 duration-300" routerLink="/gallery">Gallery</button>
        <button class="p-2 px-4 bg-green-600 font-semibold text-white text-lg rounded-lg">Contact Us</button>
        
        
    </div>
</nav>