<!-- Menu Bar -->
<div class="relative max-h-full w-full">
    <div class="flex flex-row absolute inset-x-0 top-0 justify-between bg-bgNavbar w-screen">
        <!-- Logo -->
        <img class=" p-2 ml-8" src="https://media.discordapp.net/attachments/927170767211360327/927170810093924372/logo.png" alt="" width="102" height="100">
        <!-- Menu -->
        <div class="p-5 flex items-center">
            <div class="px-4">
                <button class="text-greenAgro border-b-2 border-greenAgro  text-lg font-sans duration-300" routerLink="/landingPage">Home</button>
            </div>
            <div class="px-4">
                <button class="text-white1 text-lg  font-sans hover:text-greenAgro duration-300 " routerLink="/products">Products</button>
            </div>
            <div class="px-4">
                <button class="text-white1 text-lg  font-sans hover:text-greenAgro hover:border-b-2 hover:border-green-300 duration-300" routerLink="/aboutUs">About Us</button>
            </div>
            <div class="px-4">
                <button class="text-white1 text-lg  font-sans hover:text-greenAgro duration-300" routerLink="/termsAndCondition">Terms and Condition</button>

            </div>
            <div class="px-4">
                <button class="text-white1 text-lg  font-sans hover:text-greenAgro duration-300" routerLink="/gallery">Gallery</button>
            </div>
            <div class="px-4">
                <button class="p-2 px-6 bg-greenContactUs font-semibold text-white1 text-lg rounded-lg">Contact Us</button>
            </div>
            
        </div>
    </div>
</div>